<footer class="footer">
        <div class="footer-content">
            <p> Aprende inglés © 2025 - Made by  Esteban Moya Castro</p>
                <ul class="footer-links">
                    <li class="face" title="logo-facebook"><a href="https://www.facebook.com" ><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="tiktok" title="Tik-Tok"><a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="insta" title="Instagram"><a href="#Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="whatsap" title="whatsapp"><a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
        </div>
    </footer>

