<header>
    <div class="contenedor-header">
        <div class="menu-toggle"(click)="menuToggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>


            <ul class="lista" [class.show]="menuOpen">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/basico">Nivel Básico</a></li>
                <li><a routerLink="/intermedio">Nivel Intermedio</a></li>
                <li><a routerLink="/avanzado">Nivel avanzado</a></li>
                <li><a routerLink="/desde_cero">Inglés desde cero</a></li>
            </ul>

            <button class="lightDark" (click)="themeService.toggleTheme()">Cambiar Tema <i class="fa-notdog-duo fa-solid fa-circle-half-stroke"></i></button>
        
        <img class="logo" src="/assets/logo blanco.png" alt="logo">
        
    </div>
</header>