<div class="seccion2">
<h2>Ejercicio: Verbo To Be</h2>

@if (currentExercise) {
    <p class="sentence">
    {{ currentExercise?.sentence }}
    </p>

    <div class="item">
    <input
        type="text"
        [(ngModel)]="userAnswer"
        placeholder="Escribe tu respuesta"
    />

    <button class="verificar" (click)="checkAnswer()">
        Verificar
    </button>
    </div>
    

    @if (result === 'correct') {
        <p class="correct">Respuesta correcta  
        <i class="fa-solid fa-check"></i>
        </p>
    }

    @if (result === 'incorrect') {
        <p class="incorrect">Respuesta incorrecta 
        <i class="fa-solid fa-xmark"></i> 
        <br>Intenta de nuevo 
        </p>
    }
    
    

    <div class="nav-buttom">
    <button class="anterior" 
        (click)="beforeExercise()"
        [disabled]="currentIndex === 0">
        <i class="fa-solid fa-angle-left"></i>
    </button>

    <button
        class="siguiente"
        (click)="nextExercise()"
        [disabled]="currentIndex === ejercicios.length - 1">
        <i class="fa-solid fa-angle-right"></i>
    </button>
    </div>
} @else {
    <p>Cargando ejercicio...</p>
}
</div>
